/* line 23, ../sass/style.scss */
.button,
button.button,
input[type="reset"].button,
input[type="button"].button,
input[type="submit"].button,
a.button,
a.button:link {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  padding: 2px 6px;
  font-family: 'Segoe UI', 'Open Sans', 'Lucida Grande', Helvetica, sans-serif;
  font-size: 100%;
  text-decoration: none;
  cursor: pointer;
  color: #333333;
  background: #f0f0f0;
  border: 1px solid #b4b4b4;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-binding: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  overflow: visible;
  position: relative;
}
/* line 58, ../sass/style.scss */
.button:focus,
button.button:focus,
input[type="reset"].button:focus,
input[type="button"].button:focus,
input[type="submit"].button:focus,
a.button:focus,
a.button:link:focus {
  outline: none;
  background: #f0f0f0;
  color: #333333;
  border-color: #a7a7a7;
}
/* line 64, ../sass/style.scss */
.button:hover,
button.button:hover,
input[type="reset"].button:hover,
input[type="button"].button:hover,
input[type="submit"].button:hover,
a.button:hover,
a.button:link:hover {
  background: #e3e3e3;
  color: #262626;
  border-color: #a7a7a7;
}
/* line 69, ../sass/style.scss */
.button:active,
button.button:active,
input[type="reset"].button:active,
input[type="button"].button:active,
input[type="submit"].button:active,
a.button:active,
a.button:link:active {
  background: #d6d6d6;
  color: #1a1a1a;
  border-color: #9b9b9b;
}
/* line 75, ../sass/style.scss */
.button[disabled=disabled], .button:disabled, .button.disabled,
button.button[disabled=disabled],
button.button:disabled,
button.button.disabled,
input[type="reset"].button[disabled=disabled],
input[type="reset"].button:disabled,
input[type="reset"].button.disabled,
input[type="button"].button[disabled=disabled],
input[type="button"].button:disabled,
input[type="button"].button.disabled,
input[type="submit"].button[disabled=disabled],
input[type="submit"].button:disabled,
input[type="submit"].button.disabled,
a.button[disabled=disabled],
a.button:disabled,
a.button.disabled,
a.button:link[disabled=disabled],
a.button:link:disabled,
a.button:link.disabled {
  background: #f0f0f0;
  color: #aaaaaa;
  border-color: #c1c1c1;
  cursor: default;
}
/* line 84, ../sass/style.scss */
.button[disabled=disabled]:focus, .button[disabled=disabled]:hover, .button[disabled=disabled]:active, .button:disabled:focus, .button:disabled:hover, .button:disabled:active, .button.disabled:focus, .button.disabled:hover, .button.disabled:active,
button.button[disabled=disabled]:focus,
button.button[disabled=disabled]:hover,
button.button[disabled=disabled]:active,
button.button:disabled:focus,
button.button:disabled:hover,
button.button:disabled:active,
button.button.disabled:focus,
button.button.disabled:hover,
button.button.disabled:active,
input[type="reset"].button[disabled=disabled]:focus,
input[type="reset"].button[disabled=disabled]:hover,
input[type="reset"].button[disabled=disabled]:active,
input[type="reset"].button:disabled:focus,
input[type="reset"].button:disabled:hover,
input[type="reset"].button:disabled:active,
input[type="reset"].button.disabled:focus,
input[type="reset"].button.disabled:hover,
input[type="reset"].button.disabled:active,
input[type="button"].button[disabled=disabled]:focus,
input[type="button"].button[disabled=disabled]:hover,
input[type="button"].button[disabled=disabled]:active,
input[type="button"].button:disabled:focus,
input[type="button"].button:disabled:hover,
input[type="button"].button:disabled:active,
input[type="button"].button.disabled:focus,
input[type="button"].button.disabled:hover,
input[type="button"].button.disabled:active,
input[type="submit"].button[disabled=disabled]:focus,
input[type="submit"].button[disabled=disabled]:hover,
input[type="submit"].button[disabled=disabled]:active,
input[type="submit"].button:disabled:focus,
input[type="submit"].button:disabled:hover,
input[type="submit"].button:disabled:active,
input[type="submit"].button.disabled:focus,
input[type="submit"].button.disabled:hover,
input[type="submit"].button.disabled:active,
a.button[disabled=disabled]:focus,
a.button[disabled=disabled]:hover,
a.button[disabled=disabled]:active,
a.button:disabled:focus,
a.button:disabled:hover,
a.button:disabled:active,
a.button.disabled:focus,
a.button.disabled:hover,
a.button.disabled:active,
a.button:link[disabled=disabled]:focus,
a.button:link[disabled=disabled]:hover,
a.button:link[disabled=disabled]:active,
a.button:link:disabled:focus,
a.button:link:disabled:hover,
a.button:link:disabled:active,
a.button:link.disabled:focus,
a.button:link.disabled:hover,
a.button:link.disabled:active {
  background: #f0f0f0;
  color: #aaaaaa;
  border-color: #c1c1c1;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ targeting*/
  /* line 102, ../sass/style.scss */
  button.button:active,
  input[type="reset"].button:active,
  input[type="button"].button:active,
  input[type="submit"].button:active {
    left: -1px;
    padding: 1px 6px 3px;
    border-width: 1px;
    margin: 0;
    outline: 0 none;
  }
  /* line 110, ../sass/style.scss */
  button.button:active:disabled,
  input[type="reset"].button:active:disabled,
  input[type="button"].button:active:disabled,
  input[type="submit"].button:active:disabled {
    left: 0;
    top: 0;
    padding: 2px 6px;
  }
}
/* line 120, ../sass/style.scss */
.button::-moz-focus-inner {
  border: none;
  padding: 0;
}
